<ul class="nav nav-list">
    <li class="nav-header"><a href="{{ path('document') }}">My Documents</a></li>
    <li class="active"><a href="{{ path('document_new') }}">Make a new one</a></li>
    <li><a href="{{ path('userdocumentcategory')}}">Categories</a></li>
    <li ><a href="">List pages</a></li>
    <li><a href="">Create a page category</a></li>
    <li><a href="">List categories</a></li>
</ul>

<ul class="nav nav-list">
    <li class="nav-header">My Books</li>
    <li><a href="">Make a new one</a></li>
    <li><a href="">Categories</a></li>
    <li class="nav-header">My Books</li>
    <li ><a href="">List pages</a></li>
    <li><a href="">Create a page category</a></li>
    <li><a href="">List categories</a></li>
</ul>