{% extends 'KendoctorDocumentorBundle::layout.html.twig' %}

{% block body %}
<div class="container">
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
{% endblock body %}
